{% block content %}

<!-- Contact form -->
<div class="container is-fluid has-text-centered">
<div class="block" id="contact">
      <div class="form-content">
          {% include "forms/form.html.twig" %}

            <div class="form-text">

        {{ page.content }}
</div>
</div>



{% endblock %}
